{% extends "budget/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Verwijder uitgave</legend>
                <h4>Zeker weten dat je de volgende {{ name }} wilt verwijderen? </h4>
                <blockquote class="blockquote">
                    <p>{{ to_be_deleted }}</p>
                </blockquote>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-danger" type="submit">Verwijderen</button
        </div>
    </form>
</div>
{% endblock content %}
