{% extends "budget/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete change</legend>
            <div class="alert alert-danger" role="alert">
                Zeker weten dat je de volgende verandering wilt verwijderen?
            </div>
            <h4>{{ pending_changes }}</h4>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-danger" type="submit">Verwijderen</button
        </div>
    </form>
</div>
{% endblock content %}
